body {background-color: #9d0741; font-family: Arial, Helvetica, sans-serif;}
.login {
    border: 3px solid #f1f1f1;
    margin-left: 30%;
    margin-right: 37%;
}

label{
    font-size: 20px;
}

img{
    margin-left: 40%;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

@media screen and (max-width: 500px) {
    .login {
        border: 3px solid #f1f1f1;
        margin-left: 10%;
        margin-right: 10%;
    }
    img{
        margin-left: 25%;
    }
}

button{
    background-color: #ca914c; 
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.cancel{
    background-color: red; 
}
