body {
    background-color: #9d0741;
}

header {
    border: 1px solid #ca914c;
    background-color: #69052c;
    color: white;
}

nav {
    border: 1px solid #ca914c;
}

h1 {
    padding: 5px;
    padding-left: 10px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #69052c;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    opacity: 0.5;
}

table, th, td {
    margin: 15px;
    border: 1px solid #ca914c;
}

#tropas {
    margin-left: 0;
}

.pedidos {
    margin-left: 15%;
}

#disponible {
    margin-left: 25%;
}

th, td {
    width: 15%;
}

tr {
    height: 0;
}

/* button {
    display: inline-block;
    margin: 15px;
    border: 1px solid #ca914c;
    background-color: #f3d8d2;
    width: 25%;
} */

.boton {
    text-align: center;
    border: 1px solid #ca914c;
    background-color: #f3d8d2;
}

form {
    margin-left: 25%;
    display: block;
}

input {
    margin: 15px;
    width: 80%;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #69052c;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.header {
    display: inline-block;
}

.user-header {
    display: inline-block;
    float: right;
}

#Guardar {
    margin: 15px;
    width: 50%;
}

/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content/Box */

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}

/* The Close Button */

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Modal Header */

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

/* Modal Body */

.modal-body {
    padding: 2px 16px;
}

/* Modal Footer */

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

/* Modal Content */

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

.btn {
    display: block;
    width: 100%;
    text-align: center;
    white-space: nowrap;
    background-color: #5cb85c;
    height: 40px;
}

select{
    margin: 20px;
}